footer {
  background-color: rgb(51, 51, 51);
  padding: 30px 20px 40px 20px;
  h2 {
    font-family: "shrikhand";
    color: white;
    padding-bottom: 15px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    a {
      display: flex;
      flex-direction: row;
      color: white;
      padding-bottom: 10px;
      .fa-utensils {
        padding-right: 16px;
      }
      .fa-hands-helping {
        padding-right: 10px;
      }
    }
  }
}
