@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "roboto";
  text-decoration: none;
}

@media (min-width: 1500px) {
  body {
    max-width: 1500px;
    margin: auto;
  }
}

#home-header {
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
  position: relative;
  z-index: 1;
}
#home-header h1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-family: "shrikhand";
  padding-bottom: 15px;
  padding-top: 15px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
}
header a {
  text-decoration: none;
  color: black;
}
header a i {
  position: absolute;
  left: 10%;
  top: 35%;
  font-size: 20px;
}
header a h1 {
  font-family: "shrikhand";
}

footer {
  background-color: #333333;
  padding: 30px 20px 40px 20px;
}
footer h1 {
  font-family: "shrikhand";
  color: white;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  footer h1 {
    text-align: center;
  }
}
footer ul {
  list-style-type: none;
  padding: 0;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
footer ul a {
  display: flex;
  flex-direction: row;
  color: white;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  footer ul a {
    padding-left: 20px;
    padding-right: 20px;
  }
}
footer ul a .fa-utensils {
  padding-right: 16px;
}
footer ul a .fa-hands-helping {
  padding-right: 10px;
}

.explore {
  justify-content: center;
  text-align: center;
}
.explore .explore-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #e4e4e4;
  padding: 16px;
}
.explore .explore-searchbar .fa-map-marker-alt {
  padding-right: 15px;
}
.explore .explore-informations {
  padding: 40px 65px 10px 65px;
  background: #f1f1f1;
}
.explore .explore-informations h1 {
  padding-bottom: 20px;
}

.instructions {
  padding: 60px 20px;
  align-items: center;
  margin: auto;
}
@media (max-width: 767px) {
  .instructions {
    max-width: 355px;
  }
}
@media (min-width: 1024px) {
  .instructions {
    max-width: 1200px;
  }
}
.instructions h1 {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .instructions h1 {
    text-align: center;
  }
}
.instructions .instructions-step ol {
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .instructions .instructions-step ol {
    flex-direction: row;
    justify-content: space-around;
  }
}
.instructions .instructions-step ol li {
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  border-radius: 25px;
  background: #f8f8f8;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
  position: relative;
  max-width: 315px;
}
@media (min-width: 768px) {
  .instructions .instructions-step ol li {
    margin: 10px;
  }
}
.instructions .instructions-step ol li:hover {
  background: #f4eefc;
}
.instructions .instructions-step ol li:hover .fas {
  color: #9356dc;
}
.instructions .instructions-step ol li .fas {
  padding-right: 20px;
  color: grey;
  font-size: 1.3em;
}
.instructions .instructions-step ol li span {
  margin-bottom: 30px;
  position: absolute;
  background: #9356dc;
  padding: 5px 9px;
  border-radius: 14px;
  left: -10px;
  bottom: 0;
  color: white;
  font-size: 0.8em;
}

.restaurants {
  padding: 60px 20px;
  background-color: #f8f8f8;
}
@media (min-width: 768px) {
  .restaurants .restaurants-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .restaurants .restaurants-blocks {
    max-width: 1100px;
  }
}
.restaurants h1 {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurants h1 {
    text-align: center;
  }
}
.restaurants .restaurants-block {
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
}
@media (min-width: 768px) {
  .restaurants .restaurants-block {
    width: 45%;
  }
}
.restaurants .restaurants-block .restaurants-block__image {
  height: 170px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurants-block span {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #99e2d0;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  color: #278870;
  font-weight: bold;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
}
.restaurants .restaurants-block .restaurants-block__text {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.restaurants .restaurants-block .restaurants-block__text h2 {
  font-size: 1.2em;
  padding-bottom: 7px;
}
.restaurants .restaurants-block .restaurants-block__text .fa-heart {
  font-size: 25px;
}

.menu {
  background-color: #e4e4e4;
}
.menu .menu-title {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  position: absolute;
  top: 270px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu .menu-title h1 {
  font-family: "shrikhand";
  font-size: 1.7em;
}
.menu .menu-title .fa-heart {
  font-size: 1.5em;
}

.category {
  /* animation plat qui défilent*/
}
.category h2 {
  padding-top: 40px;
  font-weight: 300;
  font-size: 1.3em;
  padding-bottom: 5px;
  margin: 15px;
  margin-bottom: 20px;
  position: relative;
}
.category h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 5;
  top: 85%;
  margin: 10px auto;
  width: 13%;
  height: 4px;
  background: #99e2d0;
}
.category .category-choice__texte h3 {
  font-weight: 700;
  padding-bottom: 5px;
}
.category .category-choice__texte p {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}
.category .category-choice {
  background-color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
  /* animation plat qui défilent*/
  animation-name: animateIn;
  animation-duration: 1000ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.category .category-choice .category-choice__validation {
  display: none;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
}

.explore-cta {
  background: #f1f1f1;
  padding: 40px 40px 70px 40px;
}
.explore-cta a {
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
}
.explore-cta a:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 40px 80px 40px;
}
.order a {
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  box-shadow: rgba(29, 29, 29, 0.378) 0px 10px 5px -9px;
}
.order a:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

/*# sourceMappingURL=style.css.map */
